<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js" defer></script>
{{ 'test-section-two.css' | asset_url | stylesheet_tag }}

<section class="test-section-two">
  <swiper-container class="swiper-container">
    {% for block in section.blocks %}
      {% assign product = block.settings.product %}

      {% if product.available %}
        <swiper-slide class="swiper-slide">
          {% render 'product-card',
            image: product.featured_image,
            description: product.description,
            options: product.options,
            variants: product.variants,
            price: product.price,
            productCardClass: 'product-card_color'
          %}
        </swiper-slide>
      {% endif %}
    {% endfor %}
  </swiper-container>

  <div class="js-swiper-pagination-element swiper-pagination"></div>
</section>

<script>
  const swiperEl = document.querySelector('swiper-container');
  const swiperParams = {
    slidesPerView: 1,
    spaceBetween: 20,
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      991: {
        slidesPerView: 3,
      },
      1400: {
        slidesPerView: 4,
      },
    },

    injectStyles: [
      `
      .swiper-pagination {
        position: initial;
        margin-top: 17px;
      }

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background-color: #F5F6F8;
        outline: 1px solid #E9E9E9;
      }

      .swiper-pagination-bullet-active {
        background: #EB8426;
        outline: none;
      }
      `,
    ],
    pagination: {
      clickable: true,
      renderBullet: function (_, className) {
        return '<span class="' + className + '"></span>';
      },
    },
  };

  Object.assign(swiperEl, swiperParams);

  swiperEl.initialize();
</script>

{% schema %}
{
  "name": "Second section Products",
  "blocks": [
    {
      "name": "Products block",
      "type": "products_block",
      "settings": [{ "type": "product", "id": "product", "label": "Product" }]
    }
  ],
  "presets": [{ "name": "Second section Products" }]
}
{% endschema %}
