.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #d3fbd9;
  border-radius: 5px;
  padding: 57px 24px 19px;
  height: 100%;
}

.product-card__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: currentColor;
}

.product-card__image {
  max-width: 200px;
  align-self: center;
  object-fit: contain;
}

.product-card__colors-container {
  margin-top: -27px;
  display: flex;
  flex-direction: column;
}

.product-card__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 7px;
}

.product-card__inputs-wrapper {
  display: flex;
  gap: 8px;
}

.product-card__input {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #ff572233;
}

.product-card__input input {
  appearance: none;
  -webkit-appearance: none;
}

.product-card__price-container {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.product-card__compare-price {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 15px;
  text-decoration: line-through;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .section {
    background: transparent;
  }

  .product-card__image {
    max-width: 188px;
  }

  .product-card {
    padding-top: 43px;
  }

  .product-card__colors-container {
    margin-top: -45px;
  }

  .product-card__description {
    margin-top: 25px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .product-card__text {
    font-size: 12px;
  }

  .product-card__price {
    margin: 3px 0;
  }

  .product-card__compare-price {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .product-card__image {
    width: 131px;
  }
}
