.test-section-three {
  padding: 24px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  margin: auto;
}

.buttons-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  overflow-y: auto;
}

#collection-tabs-id .button {
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
  padding-bottom: 32px;
  width: 100%;
  white-space: nowrap;
}

.products {
  margin-top: 48px;
}

.products-wrapper {
  display: none;
  justify-content: center;
}

.products-wrapper_overflow {
  display: flex;
  gap: 24px;
  overflow-y: auto;
}

.product {
  width: 312px;
  flex-shrink: 0;
  height: auto;
}

.product:nth-child(2n) > .product-card_color {
  background-color: #ffbdbd;
}

.product:nth-child(3n) > .product-card_color {
  background-color: #c0abfd;
}

@media screen and (max-width: 900px) {
  .buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .products-wrapper {
    top: 196px;
    padding: 0 24px;
  }

  .product {
    width: 268px;
  }
}

@media screen and (max-width: 600px) {
  .test-section-three {
    padding: 24px 16px;
  }

  .products-wrapper {
    padding: 0;
  }

  .products-wrapper_overflow {
    gap: 16px;
  }

  .products {
    margin-top: 18px;
  }

  .product {
    width: 195px;
  }

  #collection-tabs-id .button {
    font-size: 14px;
    padding-bottom: 16px;
  }

  .buttons-wrapper {
    display: flex;
  }
}
